@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font-family: 'Poppins', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap");
/* font-family: 'Belanosima', sans-serif; */
/* Paleta de colores
#FC7300 , #1F8A70 , #00425A , #181823, 
#EFF5F5 */

/* Normalize */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

form {
  /* inset: 0; */
  font-family: "Poppins", sans-serif;
  /* margin: auto; */
}

.btn-enviar {
  padding: 0.5rem;
  font-size: 2.5rem;
  width: 10rem;
  box-shadow: 4px 4px 8pc 3px #0d6efd;
  margin: 1.5rem;
  font-weight: bold;
  font-family: "Belanosima", sans-serif;
}

.footer {
  height: 6vh;
}
.contenedor {
  height: 100%;
}

.contenedor--p {
  font-weight: bold;
  font-family: "Belanosima", sans-serif;
  height: 100%;
  text-align: center;
  padding-top: 0.4rem;
}

label {
  cursor: pointer;
}
@media screen and(min-width: 320px) {
  .btn-enviar {
    width: 100px;
  }
  .contenedor--p {
    font-size: 0.6rem;
    font-weight: bold;
    font-family: "Belanosima", sans-serif;
  }
}
